<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if false %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
<% end %>
  <div class="field">
    <%= f.label :display_name %><br />
    <%= f.text_field :display_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :show_tutorial %><br/>
    <%= f.check_box :show_tutorial %>
  </div>


  <% if is_admin %>
    <!-- admin options go here -->
  <% end %>

  <div class="actions">
    <%= f.submit :class => "form_action primary" %>
    <% if is_admin %>
      <%= link_to 'Cancel', users_path, :class => "form_action negative" %>
    <% else %>
      <%= link_to 'Cancel', :root, :class => "form_action negative" %>
    <% end %>
  </div>
<% end %>
