<h1 id="member_heading" class="page_heading">Lodge Members</h1>

<div id="member_actions" class="actions_menu">
    <%= link_to 'Invite a new user', new_user_path, :class => 'action_link' %>
</div>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Activated</th>
            <th>Admin</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
    <tbody>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.display_name %></td>
            <td><%= user.email %></td>
            <td><%= user.active %></td>
            <td><%= user.admin? %></td>
            <td class="control"><%= link_to 'Show', user, :class => 'item_action_link' %></td>
            <td class="control"><%= link_to 'Edit', edit_user_path(user), :class => 'item_action_link' %></td>
            <td class="control"><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete, :class => 'item_action_link' %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<br />

