<h1>My Account</h1>

<h3><%= @user.email %></h3>

<% if false %>
<div class="field">
    <label>First Name:</label>
    <%= @user.first_name %>
</div>

<div class="field">
    <label>Last Name:</label>
    <%= @user.last_name %>
</div>
<% end %>

<div class="field">
    <label>Display Name:</label>
    <%= @user.display_name %>
</div>

<div class="field">
    <label>Getting Started Guides:</label>
    <% if @user.show_tutorial %>On<% else %>Off<% end %>
    
</div>

<div class="actions">
  <%= link_to 'Edit', edit_user_path(@user), :class => "form_action" %>
  <% if is_admin %>
    <%= link_to 'Done', users_path, :class => "form_action" %>
  <% else %>
    <%= link_to 'Done', :root, :class => "form_action" %>
  <% end %>
</div>
