<h1 id="character_heading" class="page_heading">Characters</h1>

<div id="member_actions" class="actions_menu">
    <%= link_to 'New Character', new_character_path, :class => 'action_link' %>
</div>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Race</th>
            <th>Class</th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
    <tbody>
    <% @characters.each do |char| %>
        <tr>
            <td><%= link_to char.name, char, :class => 'item_action_link show_link' %></td>
            <td><%= char.race.name %></td>
            <td><%= char.classes_str %></td>
            <td class="control"><%= link_to 'Destroy', char, :confirm => 'Are you sure?', :method => :delete, :class => 'item_action_link destroy_link' %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<br />

