<!DOCTYPE html>
<html>
<head>
  <title>The Lodge</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery-1.6", "jquery-ui-1.8.12.custom.min.js", "rails", "application" %>
  <%= csrf_meta_tag %>
</head>
<body>

    <div id="page_container">
    
        <div id="header_container">
        
            <a id="home_link" href="/"><img src="/images/title.png" alt="The Lodge"/></a>
        
            <div id="account_bar">
                <% if current_user %>
                    Hello! | <%= link_to "Logout", :logout %>
                <% else %>
                    <%= render 'user_sessions/form' %>
                <% end %>
            </div>
        
            <div id="menu_bar">
                <a href="#">Characters</a>
                <a href="#">Creatures</a>
                <a href="#">Encounters</a>
                <a href="#">Maps</a>
                <% if is_admin %>
                    <%= link_to "Users", users_path %>
                <% end %>
            </div>
        </div>
        
        <% if notice %>
            <div id="notice_container">
                <%= notice %>
            </div>
        <% end %>
    
        <div id="body_container">
            
            <div id="main_column" class="content_box">
                <%= yield %>
            </div>
            
            <div id="sidebar" class="content_box">
                
            </div>
            
        </div>

        <div id="footer_container">
            
        </div>

    </div>

</body>
</html>
